*.zip
*.csv
galaxy/images_training_rev1
pscreening/raw-data
pscreening/raw-data-aps
pscreening/submission
pscreening/train
pscreening/valid
pscreening/test
pscreening/weights
pscreening/submission-weights
*/__pycache__
**/*.png
**/*.npy
.project
.pydevproject
.settings
**/.ipynb_checkpoints
