*.zip
*.csv
galaxy/images_training_rev1
pscreening/data
pscreening/submission
pscreening/train
pscreening/valid
pscreening/test
pscreening/weights
*/__pycache__
**/*.png
**/*.npy
.project
.pydevproject
.settings
**/.ipynb_checkpoints
